body{
  color: #D3D3D3;
  background: #FFFFFF;
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
  color: ##363636;
}

.hero{
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 45px;
}
